@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

.title span {
  display: inline-block;
  background-image: url('../images/decor-line.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  padding: 0 40px;
}

body {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 5px;
}

.header__logo svg {
  transition: color 0.3s ease;
  width: 150px;
}

.header__logo:hover svg {
  color: #00a9bd;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu__btn span {
  width: 100%;
  height: 3px;
  background-color: #000;
}

.menu__btn::before,
.menu__btn::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  height: 3px;
  background-color: #000;
  transition: transform 0.5s ease;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__item {
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  cursor: pointer;
}

.menu__item::after {
  content: attr(data-text);
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu__item:hover::after {
  opacity: 1;
}

.menu__item:hover .menu__link {
  opacity: 0;
}

.menu__link {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.social {
  display: flex;
  gap: 44px;
}

.social__link {
  display: inline-block;
}

.header__social .social__link svg {
  transition: color 0.3s ease, transform 0.3s ease;
}

.header__social .social__link:hover svg {
  color: #00a9bd;
  transform: scale(1.25);
}

.header__content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__content-inner {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 119px);
}

.header__title {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
  font-size: 128px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 23vh;
}

.booking {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: #00a9bd;
  padding: 22px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.booking:hover {
  color: #000;
  background-color: #ffe093;
}

.header__booking {
  align-self: center;
}

.header__info-list {
  display: flex;
  gap: 150px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 87px;
}

.header__info-item {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  font-size: 24px;
  position: relative;
  padding-left: 36px;
}

.header__info-item span {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.header__info-item::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 24px;
  background-image: url('../images/info-ico.svg');
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tour-info {
  padding-top: 150px;
}

.tour-info__inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.images-box__two,
.tour-info__add-content {
  grid-column: span 2;
}

.tour-info__content {
  grid-column: span 3;
  padding-left: 100px;
}

.tour-info__title {
  margin-bottom: 31px;
}

.tour-info__text {
  padding-right: 35px;
}

.tour-info__add-content {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.tour-info__add-title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 13px;
}

.tour-info__add-title span {
  padding: 37px 69px 17px 53px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.tour-info__add-text {
  margin-bottom: 30px;
  max-width: 390px;
  padding-left: 70px;
}

.tour-info__images-box {
  position: relative;
}

.tour-info__img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-info__img-descr {
  position: absolute;
  font-size: 16px;
  line-height: 1;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 15px;
  left: 29px;
  width: 212px;
  text-align: center;
}

.tour-info__booking {
  align-self: self-start;
  margin-top: auto;
  margin-left: 70px;
}

.tour-program {
  padding: 150px 0 120px;
  background-repeat: no-repeat;
  background-position: top left;
}

.tour-program__title {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.tour-program__list {
  display: grid;
  gap: 10px 0;
  counter-reset: number;
}

.tour-program__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tour-program__item:nth-child(even) .tour-program__item-content {
  order: 1;
  padding-right: 30px;
}

.tour-program__item-content {
  padding-right: 90px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.tour-program__item-img {
  border-radius: 25px;
}

.tour-program__item svg {
  color: #ffe093;
  transition: color 0.2s ease;
}

.tour-program__item:hover svg {
  color: #00a9bd;
}

.tour-program__item-box {
  position: relative;
  counter-increment: number;
}

.tour-program__item-box::after {
  content: '0' counter(number);
  font-size: 60px;
  bottom: 15%;
}

.tour-program__item-box::before {
  content: 'Day';
  font-size: 32px;
  top: 20%;
}

.tour-program__item-box::after,
.tour-program__item-box::before {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tour-program__item:nth-child(n + 10) .tour-program__item-box::after {
  content: counter(number);
}

.slider {
  background-color: #b6e8ee;
  padding: 50px 0 65px;
  text-align: center;
}

.slider__title {
  margin-bottom: 30px;
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  text-align: center;
}

.slider__title span {
  padding-bottom: 7px;
}

.slide__img {
  display: inline-block;
  border-radius: 25px;
}

.slider__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-pagination {
  display: none;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.button-prev {
  left: 0;
}

.button-next {
  right: 0;
}

.tours {
  padding: 150px 0 100px;
}

.tours__title {
  margin-bottom: 50px;
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  text-align: center;
}

.tours__list {
  display: flex;
  gap: 35px;
}

.tours__item {
  width: 180px;
  cursor: pointer;
  position: relative;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}

.tours__item.tours__item--active {
  width: 860px;
}

.tours__img {
  height: 800px;
  border-radius: 35px;
  object-fit: cover;
}

.tours__item--active .tours__item-title {
  opacity: 1;
}

.tours__item-title {
  position: absolute;
  bottom: 115px;
  left: 0;
  right: 0;
  font-family: 'Raleway-SemiBold', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
}

.tours__info-list {
  position: absolute;
  bottom: 24px;
  left: 23px;
  display: flex;
  align-items: center;
  gap: 55px;
  white-space: nowrap;
}

.tours__item--active .tours__info-list {
  left: 34px;
}

.tours__info-flag {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 24px 52px;
  border-radius: 35px;
}

.tours__info-flag img {
  max-width: 30px;
  height: 30px;
}

.tours__info-date,
.tours__info-price {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding-left: 38px;
  position: relative;
}

.tours__info-date::before,
.tours__info-price::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 24px;
  background-image: url('../images/info-ico.svg');
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  background-color: #00a9bd;
  padding: 50px 0;
  color: #fff;
}

.footer__inner {
  display: flex;
  gap: 200px;
}

.footer__logo {
  margin-right: auto;
  align-self: center;
}

.footer__logo svg {
  color: #fff;
}

.footere__menu,
.footer__contacts-title {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
}

.footer__menu-item + .footer__menu-item {
  margin-top: 20px;
}

.footer__contacts-title {
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address__name {
  margin-bottom: 25px;
}

.footer__social {
  margin-top: 55px;
}

.footer__list {
  margin-right: 145px;
}

.footer__item + .footer__item {
  margin-top: 20px;
}
